<div class="row">
  <!-- Card column -->
  <div class="col-12">
      <mat-card>
          <mat-card-content>
              <mat-card-title>Mapeamento AVRO </mat-card-title>
              <mat-card-subtitle>Fase 2 do mapeamento de novos produtos</mat-card-subtitle>
          </mat-card-content>
          <mat-tab-group mat-stretch-tabs="false">
              <mat-tab label="Tab 1">
                <mat-card-content>Content 1</mat-card-content>
              </mat-tab>
              <mat-tab label="Tab 2">
                <mat-card-content>Content 2</mat-card-content>
              </mat-tab>
          </mat-tab-group>
      </mat-card>
  </div>
</div>
